/Logs/
/static/
/newvid/
/misc_uploads/
/node_modules/
/misc_mp4/
/sample_data/
/results/
/temp/
/leonardo_files/
/animate/
/old/
/evaluation/
/__pycache__/
/models/
/face_detection/
/checkpoints/
/env/
/tmp/
/kdenlive/
/VIDEOS/
/video_converter/
/remarkable_journey/
/back/
/clean_images/
