/Imports_moviepy-ffmpeg.ipynb
/static/long.mp3
/Imports_moviepy-ffmpeg.ipynb
/shape_predictor_68_face_landmarks.dat
/static/woman/
/static/videos/
/static/transparent_borders/
/static/thumbnails/
/static/text_video/
/static/text/
/static/temp/
/static/stacked_vids/
/static/square_vids/
/static/resources/
/static/square_videos/
/static/squares/
/static/space_indian/
/static/result/
/static/output/
/static/new_video/
/static/new_resources/
/static/music/
/static/MemImages/
/static/leo/
/static/kdenlive/
/static/images/512x1536-woman/
/static/images/abstract_beauty/
/static/images/beautiful_girl/
/static/images/Beautiful_Warrior/
/static/images/BrightColors/
/static/images/chat/
/static/images/city/
/static/images/City_Streets/
/static/images/civitai/
/static/images/colorful_geisha
/static/images/colorpencil_drawing/
/static/images/dreamlike_art/
/static/images/druid/
/static/images/dystopian_city/
/static/images/energy_crystal/
/static/images/experiment/
/static/images/EXPERIMENTS/
/static/images/faces_for_avatars/
/static/images/Final_Fantasy/
/static/images/images-for-fades/
/static/images/lady_in_red/
/static/images/leather_woman/
/static/images/leo/
/static/images/leonardo.ai_files/
/static/images/leonardo_alice/
/static/images/leonardo_tanned/
/static/images/leonardo_thorn/
/static/images/Lexica_asia/
/static/images/misc/
/static/images/new-clean/
/static/images/notgood/
/static/images/nouveau/
/static/images/photo_NASA_textbook/
/static/images/pretty_girl/
/static/images/prodia/
/static/images/quantum/
/static/images/Saint_Ilya_Muromets_Orthodoxy/
/static/images/screaming/
/static/images/space_indian/
/static/images/squares/
/static/images/Starfire/
/static/images/steampunk_mouse/
/static/images/swimmer/
/static/images/tensor_art/
/static/images/wildman_files/
/static/images/woman/
/static/images/Yoji_Shinkawa/
/static/images/Yoji-Shinkawa-tensor-art/
/static/goddess/
/static/formatted_text/
/static/final_images/
/static/Final_Fantasy/
/static/examples/
/static/current_project/
/static/city_streets/
/static/audio_mp3/
/static/animate/
/static/alice/
/.ipynb_checkpoints/
/newvid/
/misc_uploads/
/node_modules/
/misc_mp4/
/sample_data/
/results/
/temp/
/leonardo_files/
/animate/
/old/
/evaluation/
/__pycache__/
/models/
/face_detection/
/checkpoints/
/env/
/tmp/
/kdenlive/
/VIDEOS/
/video_converter/
/remarkable_journey/
/back/
/tmp/
/node_modules/

