/Imports_moviepy-ffmpeg.ipynb
/static/long.mp3
/Imports_moviepy-ffmpeg.ipynb
/shape_predictor_68_face_landmarks.dat
/static/woman/
/static/videos/
/static/transparent_borders/
/static/thumbnails/
/static/text_video/
/static/text/
/static/temp/
/static/stacked_vids/
/static/square_vids/
/static/resources/
/static/square_videos/
/static/squares/
/static/space_indian/
/static/result/
/static/output/
/static/new_video/
/static/new_resources/
/static/music/
/static/MemImages/
/static/leo/
/static/kdenlive/
/static/images/
/static/goddess/
/static/formatted_text/
/static/final_images/
/static/Final_Fantasy/
/static/examples/
/static/current_project/
/static/city_streets/
/static/chat/
/static/audio_mp3/
/static/animate/
/static/alice/
/.ipynb_checkpoints/
/newvid/
/misc_uploads/
/node_modules/
/misc_mp4/
/sample_data/
/results/
/temp/
/leonardo_files/
/animate/
/old/
/evaluation/
/__pycache__/
/models/
/face_detection/
/checkpoints/
/env/
/tmp/
/kdenlive/
/VIDEOS/
/video_converter/
/remarkable_journey/
/back/
/tmp/
/node_modules/

