html{
    background-color: #d3d4a7;
}
        body {
            margin: 0;
            padding: 15%;

            background-image: url('../assets/MemMaker_background.png');
            background-size: cover;
            background-image: url('../assets/MemMaker_background.png');
            background-repeat: repeat-y;
            background-size: contain;
            background-position: top;
            font-family: Arial, sans-serif;
  background-blend-mode: difference;
              font-family: Arial, sans-serif;

/* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;




        }

        .pre-wrap-50 {
            white-space: pre-wrap;
            max-width: 50%;
        }
        .column {
            float: left;
            width: 50%;
          }
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
        /* Add more CSS styles as needed */
   