    .resizedvideo {
      width: 200px;
      height: 200px;
    }
    .resized_video {
      width: 300px;
      height: auto;
    }
    * {

      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding-left: 20%;
      padding-right: 20%;
      background-color: darkred;

/* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;

    }

    /* Style the header */
    .header {
      background-color: #cfcece;
      padding: 20px;
      text-align: center;
    }

    /* Style the top navigation bar */
    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    /* Style the topnav links */
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 33.33%;
      height: 1000px;
      padding: 15px;
      background-color: #ddcbb0;
    }

    p {
      font-size: 20px;
      font-family: "Times New Roman", Times, serif;
      color: #000000;
      text-align: justify;

      line-height: 1.5;
      margin: 0 0 1em 0;
      padding: 0;
    }

    /* Clear floats after the columns */
    .row::after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width:600px) {
      .column {
        width: 100%;
      }
    }