<!DOCTYPE html>
<html>
<head>
    <title>Database Access</title>
</head>
<body>
    <h1>Database Content</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

