<!DOCTYPE html>
<html>
<head>
  <title>Enter Data</title>
  <!-- Include any necessary CSS stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Enter Data</h1>
  <form action="/insert_data" method="POST">

    <form action="{{ url_for('edit_product', product_id=product[0]) }}" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" value="{{ product[1] }}"><br>
      <label for="description">Description:</label>
      <input type="text" name="description" value="{{ product[2] }}"><br>
      <label for="price">Price:</label>
      <input type="text" name="price" value="{{ product[3] }}"><br>
      <input type="submit" value="Update Product">
  </form>

</body>
</html>
