<!-- aigeneration_links.html-->
<!DOCTYPE html>
<html>

<head>
    <title>AI Info and Generation Links</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flask.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <h1>AI Info and Generation Links</h1>
        </div>
        <div class="columns">
            <div class="column left">
                <h3>Links</h3><br />
                <li> <a href="/home/jack/Desktop/misc/UsingConvert.html" target="_blank">UsingConvert</a></li>
                <li> <a href="https://dreamlike.art/create" target="_blank">GOOD-dreamlike.art/create</a></li>
                <li> <a href="/home/jack/Desktop/misc/color.html" target="_blank">ColorPicker</a></li>
                <li> <a href=" https://www.reddit.com/" target="_blank">Reddit.com/ </a></li>
                <li><a href="https://bhaasha.iiit.ac.in/lipsync/" target="_blank">lipsync/</a></li>
                <li><a href="https://www.google.com" target="_blank">Google</a></li>
                <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                <li><a href="https://www.youtube.com" target="_blank">Youtube</a></li>
                <li><a href="https://app.blasteronline.com/speechelo" target="_blank">Speechelo</a></li>
                <li><a href="https://lexica.art/" target="_blank">https://lexica.art/</a></li>
                <li><a href="https://www.mage.space/explore" target="_blank">https://www.mage.space/explore</a></li>
                <li><a href="https://www.tiktok.com/foryou?is_copy_url=1&is_from_webapp=v1"
                        target="_blank">tiktok.com</a></li>
                <li><a href="https://www.tiktok.com/@insectsmatters" target="_blank">@insectsmatters</a></li>
                <li><a href="https://www.tiger-algebra.com/drill/5x~5-1080x~2/" target="_blank">tiger-algebra.com</a>
                </li>
                <li><a href="http://217.21.78.160/" target="_blank">http://217.21.78.160/</a></li>
                <li><a href="https://openclipart.org/" target="_blank">penclipart.org</a></li>
                <li><a href="https://www.edureka.co/community/" target="_blank">edureka.co/community</a></li>
                <li><a href="https://cdnlogo.com/svg-editor/" target="_blank">https://cdnlogo.com/svg-editor/</a></li>
                <li><a href="https://pollinations.ai/" target="_blank">https://pollinations.ai/</a></li>
                <li><a href="http://www.frontiernet.net/~eugene.ressler/" target="_blank">frontiernet.net</a></li>
                <li><a href="https://www.pinterest.ph/grahamwallwork/julian-jordanov/"
                        target="_blank">julian-jordanov</a></li>
                <li><a href="https://miktex.org/" target="_blank">miktex.org/</a></li>
                <li><a href="https://huggingface.co/spaces/stabilityai/stable-diffusion"
                        target="_blank">stabilityai/stable-diffusion</a></li>
                <li><a href="https://dreamlike.art/" target="_blank">GOOD - currently down for maint</a></li>
                <li><a href="https://trinket.io/python/f7ad7f9864" target="_blank">trinket.io/python</a></li>
                <li><a href="https://www.pythonsandbox.com/turtle" target="_blank">pythonsandbox.com/turtle</a></li>
                <li><a
                        href="https://sites.google.com/view/liviatheodoramidjourney/home?pli=1">liviatheodoramidjourney</a>
                </li>
                <li><a href="https://replicate.com/methexis-inc/img2prompt">img2prompt</a></li>
                <li><a href="https://imageeditor.app/?new" target="_blank"> Imageeditor</a></li>
                <li><a href="https://huggingface.co/prompthero/poolsuite-diffusion"
                        target="_blank">poolsuite-diffusion</a></li>
                <li><a href="https://huggingface.co/prompthero/openjourney" target="_blank">prompthero/openjourney</a>
                </li>
                <li><a href="https://hotpot.ai/" target="_blank"> https://hotpot.ai/</a></li>
                <li><a href="https://hotpot.ai/art-generator" target="_blank"> https://hotpot.ai/art-generator</a></li>
                <li><a href="https://drive.internxt.com/app" target="_blank"> https://drive.internxt.com/app</a></li>
                <li><a href="https://openlibrary.org/" target="_blank">openlibrary.org/</a></li>
                <li><a href="https://civitai.com/" target="_blank">civitai.com/ </a></li>
                <li><a href="https://rentry.org/sdhassan#merged-models" target="_blank">rentry.org/sdhassan</a></li>
                <li><a href="https://civitai.com/models/2661/uber-realistic-porn-merge-urpm"
                        target="_blank">realistic-porn-merge-urpm</a></li>
            </div>
            <div class="column">
                <h3>Links</h3><br />
                <li><a href="https://huggingface.co/prompthero/openjourney"
                        target="_blank">huggingface-prompthero/openjourney</a></li>
                <li><a href="https://playgroundai.com/search?q=princess" target="_blank">playgroundai.com</a></li>
                <li><a href="https://openart.ai/" target="_blank">openart.ai/</a></li>
                <li><a href="https://lexica.art/?q=004602d4-b0ed-4697-8cb3-526b3e918217" target="_blank">lexica.art</a>
                </li>
                <li><a href="https://ideogram.ai/" target="_blank">ideogram.ai</a></li><br />
                <li><a href="https://app.prodia.com/#/" target="_blank">FREE app.prodia.com/#/</a></li>
                <li><a href="https://huggingface.co/ProGamerGov/Min-Illust-Background-Diffusion?target="
                        _blank">huggingface Background</a></li>
                <li><a href="https://huggingface.co/spaces/microsoft/Promptist" target="_blank">microsoft/Promptist</a>
                </li>
                <li><a href="https://huggingface.co/wavymulder/portraitplus"
                        target="_blank">huggingface.co/wavymulder/portraitplus</a></li>
                <li><a href="https://huggingface.co/johnslegers/epic-diffusion"
                        target="_blank">johnslegers/epic-diffusion</a> </li>
                <li><a href="https://huggingface.co/darkstorm2150/Protogen_Infinity_Official_Release"
                        target="_blank">huggingface Protogen_Infinity</a></li>
                <li><a href="https://www.upscale.media/upload" target="_blank">Free - upscaler</a></li>
                <li><a href="https://www.coingecko.com/en/coins/lbry-credits" target="_blank">lbry-credits</a></li>
                <li><a href="https://odysee.com/" target="_blank">odysee.com</a></li>
                <li><a href="https://dreamlike.art/create" target="_blank">https://dreamlike.art/create</a></li>
                <li><a href="https://huggingface.co/spaces/microsoft/Promptist" target="_blank">microsoft/Promptist</a>
                </li>
                <li><a href="https://huggingface.co/prompthero/openjourney" target="_blank">VERY
                        GOODprompthero/openjourney</a></li>
                <li><a href="https://developers.google.com/youtube/v3/quickstart/python"
                        target="_blank">google/youtube/v3/developers</a></li>
                <li><a href="https://huggingface.co/CompVis/stable-diffusion-v1-4?text=mdjrny-v4+style+scary%2C+dirty%2C+paint+peeling%2C+muddy%2C+oily%2C+dystopian++gypsy+princess+centered+face%2C+portrait%2C+style+of+H.+G.+Giger"
                        target="_blank">stable-diffusion-v1-4 Giger</a></li>
                <li><a href="https://beta.elevenlabs.io/voice-lab" target="_blank">elevenlabs.io/voice-lab</a></li>
                <li><a href="https://studio.d-id.com/" target="_blank">https://studio.d-id.com/</a></li>
                <li><a href="https://linktr.ee/ai_studio" target="_blank">ai_studio</a></li>
                <li><a href="https://paraphrasingtool.ai/" target="_blank">paraphrasingtool.ai</a></li>
                <li><a href="https://huggingface.co/coreco/seek.art_MEGA"
                        target="_blank">https://huggingface.co/coreco/seek.art_MEGA</a></li>
                <li><a href="https://bhaasha.iiit.ac.in/lipsync/" target="_blank">lipsync/</a></li>
                <li><a href="https://y2mate.guru/y2mate2" target="_blank">Download Unlisted videos</a></li>
                <li><a href="https://app.leonardo.ai/ai-generations" target="_blank">leonardo.ai/ai-generations</a></li>
                <li><a href="https://huggingface.co/prompthero/openjourney?text=%27mdjrny-v4+style%27++A+wide+angle+colored+line+art+drawing+of+a+beautiful+female+half+human+cyborg+in+a+futuristic+25th+century+city+street%2C++highly+detailed%2C+psytrance+art+style%2C+golden+bikini%2C+back+alley+shot%2C+wide+shot%2C+diagonal+view+of+subject%2C+highly+detailed%2C+monochromatic%2C+graphic+novel%2C+steampunk"
                        target="_blank">graphic+novel%2C+steampunk</a></li>
                <li><a href="https://huggingface.co/spaces/phenomenon1981/Dreamlikeart-Anime-1.0"
                        target="_blank">Dreamlikeart-Anime</a></li>
                <li><a href="https://podcast.adobe.com/enhance" target="_blank">https://podcast.adobe.com/enhance</a>
                </li>
                <li><a href="https://huggingface.co/spaces/Daniton/MidJourney"
                        target="_blank">huggingface/Daniton/MidJourney</a></li>
                <li><a href="https://app.runwayml.com/video-tools/teams/madhatterstamps/ai-tools/gen-1"
                        target="_blank">https://app.runwayml.com/video-tools/teams/madhatterstamps/ai-tools/gen-1</a>
                </li>
                </li>
                <li><a href="https://stackoverflow.com/questions/52811041/how-can-i-use-the-same-route-for-multiple-functions-in-flask"
                        target="_blank">@app.route('/chopsticks/') @app.route('/chopsticks/</a></li>
                <li><a href="https://clipdrop.co/stable-diffusion"
                        target="_blank">https://clipdrop.co/stable-diffusion</a></li>
                <li><a href="https://www.turing.com/kb/build-flask-routes-in-python"
                        target="_blank">build-flask-routes-in-python</a></li>
                <li><a href="https://www.turing.com/kb/build-flask-routes-in-python" target="_blank"></a></li>
                <li><a href="file:///mnt/HDD500/0WORKSHOP-with-NOTEBOOKS/chat/chat/chat.html"
                        target="_blank">chat.html</a></li>
                <li><a href="https://www.digitalocean.com/community/tutorials/how-to-structure-a-large-flask-application-with-flask-blueprints-and-flask-sqlalchemy"
                        target="_blank">blueprints-and-flask-sqlalchemy</a></li>
                <li><a href="https://ask.replit.com/t/using-a-function-to-route-several-pages-in-flask/15563"
                        target="_blank"></a></li>
                <li><a href="https://huggingface.co/prompthero/openjourney?text=%27mdjrny-v4+style%27+A+beautiful+++space+creature%2C+half+alien%2Chalf+robot%2C+cyborg+%2C+facing+forward+towards+camera%2Cwith+a+vibrant+Native+American+carnival+costume%2C+her+face+painted+with+intricate+tribal+designs."
                        target="_blank">half+robot%2C+cyborg</a></li>
                <li><a href="https://tedboy.github.io/flask/interface_api.useful_funcs.html"
                        target="_blank">api.useful_funcs.html</a></li>
                <li><a href="https://xkcd.com/50/" target="_blank">https://xkcd.com/50/</a></li>
                <li><a href="https://openart.ai/create?username=neanderthal_darling_28&prompt=Monster%2520has%2520a%2520lot%2520of%2520red%2520shades%2520and%2520black%2520colors%2C%2520there%2520is%2520a%2520green%2520leafy%2520forest%2520background%2520terrifying%2520mutant%2520goblin%2520combined%2520with%2520large%2520fat%2520hissing%2520cockroach%2C%2520gothic%2520art%2C%2520popping%2520color%2C%2520detailed%2C%2520eerie%2C%2520emotional%2C%2520gothic%2C%2520highly%2520detailed%2C%2520incredibly%2520sharp%2520focus%2C%2520Artstation%2C%2520deviantart%2C%2520artgem%2C%2520insane%2520detail%2C%2520intense%2520color%2C%2520vibrant%2520cartoon%2520art%2C%2520award-winning%2520art%2C%2520French%2520comic%2520art%2C%25208k%2C%2520super%2520precise%2520detail%2C%2520golden%2520ratio%2C%2520in%2520the%2520style%2520of%2520Heavy%2520Metal%2520Comics&ai_model=runwayml%2Fstable-diffusion-v1-5&cfg_scale=7&steps=25&width=512&height=512&sampler=dpmsolver%2B%2B&negative_prompt=&seed=170386247"
                        target="_blank">openart.ai/</a></li>
            </div>


        </div>
    </div>
</body>

</html>