<a href="{{ url_for('hello_world') }}">hello_world</a><br />
<a href="{{ url_for('create_avatar') }}">create_avatar</a><br />
<a href="{{ url_for('run_command') }}">run_command</a><br />
<a href="{{ url_for('convert_mp3_to_wav') }}">convert_mp3_to_wav</a><br />
<a href="{{ url_for('final_lipsync') }}">final_lipsync</a><br />
<a href="{{ url_for('text_mp3') }}">text_mp3</a><br />
<a href="{{ url_for('mp3_upload') }}">mp3_upload</a><br />
<a href="{{ url_for('generate_video') }}">generate_video</a><br />
<a href="{{ url_for('apply_text_to_video') }}">apply_text_to_video</a><br />
<a href="{{ url_for('get_files') }}">get_files</a><br />
<a href="{{ url_for('image_list') }}">image_list</a><br />
<a href="{{ url_for('upload') }}">upload</a><br />
<a href="{{ url_for('mkblend_video') }}">mkblend_video</a><br />
<a href="{{ url_for('mkblend_videos') }}">mkblend_videos</a><br />
<a href="{{ url_for('generate_vid') }}">generate_vid</a><br />
<a href="{{ url_for('upload_file') }}">upload_file</a><br />
<a href="{{ url_for('make_text') }}">make_text</a><br />
<a href="{{ url_for('home') }}">home</a><br />
<a href="{{ url_for('choose_dir') }}">choose_dir</a><br />
<a href="{{ url_for('convert') }}">convert</a><br />
<a href="{{ url_for('convert512') }}">convert512</a><br />
<a href="{{ url_for('mk_text') }}">mk_text</a><br />
<a href="{{ url_for('list_files') }}">list_files</a><br />
<a href="{{ url_for('format_file') }}">format_file</a><br />
<a href="{{ url_for('view_text') }}">view_text</a><br />
<a href="{{ url_for('view_text') }}">view_text</a><br />
<a href="{{ url_for('edit_file') }}">edit_file</a><br />
<a href="{{ url_for('edit_formatted') }}">edit_formatted</a><br />
<a href="{{ url_for('indeX') }}">indeX</a><br />
<a href="{{ url_for('resize_and_overlay_videos') }}">resize_and_overlay_videos</a><br />
<a href="{{ url_for('resize_and_overlay_videos_page') }}">resize_and_overlay_videos_page</a><br />
<a href="{{ url_for('build_stackedvids') }}">build_stackedvids</a><br />
<a href="{{ url_for('build_stackedvid') }}">build_stackedvid</a><br />
<a href="{{ url_for('get_gallery') }}">get_gallery</a><br />
<a href="{{ url_for('flask_info') }}">flask_info</a><br />
<a href="{{ url_for('add_effects') }}">add_effects</a><br />
<a href="{{ url_for('select_order') }}">select_order</a><br />
<a href="{{ url_for('large_video') }}">large_video</a><br />
<a href="{{ url_for('add_border') }}">add_border</a><br />
<a href="{{ url_for('select_border') }}">select_border</a><br />
<a href="{{ url_for('apply_border') }}">apply_border</a><br />
<a href="{{ url_for('select_border_image') }}">select_border_image</a><br />
<a href="{{ url_for('overlay_text') }}">overlay_text</a><br />
<a href="{{ url_for('create_text_file') }}">create_text_file</a><br />
<a href="{{ url_for('generate_video3') }}">generate_video3</a><br />
<a href="{{ url_for('generate_video2') }}">generate_video2</a><br />
<a href="{{ url_for('ffmpeg_ctl') }}">ffmpeg_ctl</a><br />
<a href="{{ url_for('mkmoz') }}">mkmoz</a><br />
<a href="{{ url_for('mk_background') }}">mk_background</a><br />
<a href="{{ url_for('mkvid') }}">mkvid</a><br />
<a href="{{ url_for('mkvid2') }}">mkvid2</a><br />
<a href="{{ url_for('view_thumbs') }}">view_thumbs</a><br />
<a href="{{ url_for('add_text') }}">add_text</a><br />
<a href="{{ url_for('search_txt') }}">search_txt</a><br />
<a href="{{ url_for('blend_pil') }}">blend_pil</a><br />
<a href="{{ url_for('process_images') }}">process_images</a><br />
<a href="{{ url_for('image_directories') }}">image_directories</a><br />
<a href="{{ url_for('select_playmp3') }}">select_playmp3</a><br />
<a href="{{ url_for('make_animation') }}">make_animation</a><br />
<a href="{{ url_for('title_page') }}">title_page</a><br />
<a href="{{ url_for('add_title') }}">add_title</a><br />
<a href="{{ url_for('indexA') }}">indexA</a><br />
<a href="{{ url_for('index_FLASK') }}">index_FLASK</a><br />
<a href="{{ url_for('indexD') }}">indexD</a><br />
<a href="{{ url_for('products') }}">products</a><br />
<a href="{{ url_for('access_database') }}">access_database</a><br />
<a href="{{ url_for('indexE') }}">indexE</a><br />
<a href="{{ url_for('outline_j') }}">outline_j</a><br />
<a href="{{ url_for('outline_p') }}">outline_p</a><br />
<a href="{{ url_for('upload_form') }}">upload_form</a><br />
<a href="{{ url_for('process_imagez') }}">process_imagez</a><br />
<a href="{{ url_for('indexdb') }}">indexdb</a><br />
<a href="{{ url_for('Index') }}">Index</a><br />
<a href="{{ url_for('edit_data_page') }}">edit_data_page</a><br />
<a href="{{ url_for('edit_data_page') }}">edit_data_page</a><br />
<a href="{{ url_for('get_rowid_form') }}">get_rowid_form</a><br />
<a href="{{ url_for('search_database') }}">search_database</a><br />
<a href="{{ url_for('insert_data') }}">insert_data</a><br />
<a href="{{ url_for('enter_code') }}">enter_code</a><br />
<a href="{{ url_for('search_code') }}">search_code</a><br />
<a href="{{ url_for('tube_index') }}">tube_index</a><br />
<a href="{{ url_for('data_page') }}">data_page</a><br />
<a href="{{ url_for('capture_overlay_verify') }}">capture_overlay_verify</a><br />
<a href="{{ url_for('create_text') }}">create_text</a><br />
<a href="{{ url_for('view_log') }}">view_log</a><br />
<a href="{{ url_for('self_check') }}">self_check</a><br />
<a href="{{ url_for('view_flake8') }}">view_flake8</a><br />
<a href="{{ url_for('feather_files') }}">feather_files</a><br />
<a href="{{ url_for('word_cloud') }}">word_cloud</a><br />
<a href="{{ url_for('edit_text') }}">edit_text</a><br />
<a href="{{ url_for('edit_text_page') }}">edit_text_page</a><br />
<a href="{{ url_for('edit_text_save') }}">edit_text_save</a><br />
<a href="{{ url_for('the_description') }}">the_description</a><br />
<a href="{{ url_for('run') }}">run</a><br />
<a href="{{ url_for('execute') }}">execute</a><br />
