<!DOCTYPE html>
<html>
<head>
  <title>Display Data</title>
</head>
<body>
  <h1>Data Details</h1>
  <label for="id">ID:</label>
  <textarea id="id" name="id" rows="1" cols="50">{{ id_value }}</textarea><br>
  <label for="description">Description:</label>
  <textarea id="description" name="description" rows="4" cols="50">{{ description }}</textarea><br>
  <label for="code">Code:</label>
  <textarea id="code" name="code" rows="10" cols="50">{{ code }}</textarea><br>
  <label for="keywords">Keywords:</label>
  <textarea id="keywords" name="keywords" rows="2" cols="50">{{ keywords }}</textarea><br>
</body>
</html>
