<!DOCTYPE html>
<html>

<head>
  <title>My Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
 <title>My Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .resizedvideo {
      width: 200px;
      height: 200px;
    }
    .resized_video {
      width: 300px;
      height: auto;
    }

    .section {
      margin-top: 50px;
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .sectionl {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      height: 100vh;
    }

    .sectionr {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: right;
      justify-content: right;
      height: 100vh;
    }
  </style>
  <style>
    html {
      font-family: sans-serif;
    background-color: black;
    }
    body {
      width: 95%;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgb(167, 196, 189);
      color: black;
    }
    h1 {
      color: rgb(255, 255, 255);
    }
    #wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: teal;
    }
    </style>
</head>

<body>  <center>  
  <div class="container">

    <h1 style="color: brown;">Creating a speaking Avatar with A Flask App. <br />Click the videos below for
      step-by-step instructions. </p></h1>  

      <video controls class="resizedvideo">
        <source src="static/assets/result_cl.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video><br />

      <a href="{{ url_for('text_mp3') }}">First:  Create the mp3</a><br />

      <video controls class="resizedvideo">
        <source src="static/assets/result_convert_mp3_wav.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video><br />
      <a href="{{ url_for('convert_mp3_to_wav') }}">Second: convert_mp3_to_wav</a><br />
      <video controls class="resizedvideo">
        <source src="static/assets/result_indian.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video><br />
      <a href="{{ url_for('generate_vid') }}">Third: Create a Video the same length as the wav Created</a><br />
      <video controls class="resizedvideo">
        <source src="static/assets/Water-blinking.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video><br />
      <a href="{{ url_for('create_avatar') }}">Fourth and Last Step: Create Avatar</a><br />
      <br /><br />
      <video controls class="resized_video">
        <source src="static/assets/final_with_border.mp4" type="video/mp4">
      </video><br />
        <a href="{{ url_for('indexA') }}">Create a Background for your Avatar</a><br />
        The above video is an example of what will be created.<br /><br /><br />
      <form action="/search" method="GET">
        <label for="search-term">Search:</label>
        <input type="text" id="search-term" name="q">
        <button type="submit">Search</button>
      </form>
      <br />
      <h3>Debug test</h3>
      <a href="{{ url_for('upload_file') }}">Upload Image</a><br />
      <video controls class="resized_video">
      <a href="{{ url_for('choose_dir') }}">Debug Test</a><br />
    </div>
</center>
  <footer class="footer">
    <center>
      <video controls class="resized-video">
        <source src="static/assets/result_cl.webm" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <img style="width: 30%; height: auto;" src="{{ url_for('static', filename='images/image2.jpg') }}"
        alt="Example image"><br />&nbsp;&nbsp;&nbsp;
    </center>
    <h2 style="color: brown;">Links to YouTube Channels</h2>
    <style>
      .resized-video {
        width: 25%;
        height: auto;
      }
    </style>

    <video controls class="resized-video">
      <source src="static/assets/Talking_AI_Images.webm" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  <div class="wrapper">
    <header class="header">
      <h1 style="color: brown;">Image Processing With Flask and Executeable Functions</h1><br />
      <p>Below are links to various Image Processing Functions. </p>
    </header>

    <div class="content">
      <a href="{{ url_for('get_gallery') }}">View Images</a><br />
      <a href="{{ url_for('view_thumbs') }}">View Thumbnails</a><br />
      <a href="{{ url_for('upload_file') }}">Upload Image</a><br />
      <a href="{{ url_for('flask_info') }}">Video</a><br />
      <a href="{{ url_for('add_text') }}">Add text to chat.txt</a><br />
      <a href="{{ url_for('search_txt') }}">Search chat.txt</a><br />
      <a href="{{ url_for('blend_pil') }}">upload and blend images.</a><br />
      <a href="{{ url_for('add_border') }}">Add a border to an image.</a><br />
      <a href="{{ url_for('process_images') }}">Process Images With Mask</a><br />
      <a href="{{ url_for('text_mp3') }}">Create an mp3 from aText Entry</a><br />
    </div>
    <div class="content">
      <a href="{{ url_for('generate_video') }}">Create an mp4 from video_resources</a><br />
      <a href="{{ url_for('generate_video2') }}">Create an mp4 from Uploads</a><br />
      <a href="{{ url_for('generate_video3') }}">Choose A directory to create video</a><br />
      <a href="{{ url_for('image_directories') }}">Choose Image directories</a><br />
      <a href="{{ url_for('select_playmp3') }}">Select and play mp3 from audio_mp3/</a><br />
      <a href="{{ url_for('make_animation') }}">Create an Animated Gif (20 images @ 1 per second.)</a><br />
      <a href="{{ url_for('build_stackedvids') }}">Video Stacked on Images</a><br />
      <a href="{{ url_for('build_stackedvid') }}">Two Video Stacked</a><br />
      <a href="{{ url_for('title_page') }}">Create a title Page</a><br />
      <a href="{{ url_for('add_title') }}">Add a Title to a Video</a><br />
      <a href="{{ url_for('add_effects') }}">Add effects to a Video</a><br />
      <a href="{{ url_for('choose_dir') }}">Choose a directory</a><br />
      <a href="{{ url_for('indexA') }}">Working With Text</a><br />

      <form action="{{ url_for('clean_images_route') }}" method="POST">
        <button type="submit">Clean Images</button>
      </form>
      <form action="/search" method="GET">
        <label for="search-term">Search:</label>
        <input type="text" id="search-term" name="q">
        <button type="submit">Search</button>
    </form>
    <form method="post" action="/mk_vid" enctype="multipart/form-data">
      <label for="directory">Select a directory:</label>
      <select id="directory" name="directory" required>
          {% for directory in directories %}
              <option value="{{ directory }}">{{ directory }}</option>
          {% endfor %}
      </select>
      <br><br>
      <input type="submit" value="Process Video">
  </form>
  <h1>Text to Video Conversion</h1>
  <form method="post" action="/maketext" enctype="multipart/form-data">
      <label for="input_file">Select a text file:</label><br>
      <input type="file" id="input_file" name="input_file" required><br><br>
      <input type="submit" value="Convert to Video">
  </form>
  <a href="/format_text">Format Text</a>
    </div>
    <footer class="footer">
      <center>
        &nbsp;&nbsp;<img style="width: 30%; height: auto;"
          src="{{ url_for('static', filename='images/' + random_image_file) }}"
          alt="Example image">&nbsp;&nbsp;&nbsp;&nbsp;
        <img style="width: 30%; height: auto;" src="{{ url_for('static', filename='images/image2.jpg') }}"
          alt="Example image"><br />&nbsp;&nbsp;&nbsp;
      </center>
      <h2 style="color: brown;">Links to YouTube Channels</h2>
      <a href="https://www.youtube.com/@totallyinsaneart3345" target="_blank ">Totally Insane Art</a><br />
      <a href="https://www.youtube.com/@JackNorthrup" target="_blank ">Jack Northrup</a><br />
      <a href="https://app.prodia.com/#/" target="_blank ">prodia</a><br />
      <a href="https://app.leonardo.ai/" target="_blank ">leonardo.ai</a><br />
    </footer>
  </div>

</body>

</html>