<!DOCTYPE html>
<html>
  <head>
    <title>Generated Video</title>
  </head>
  <body>
    <h1>Generated Video</h1>
    <a href="{{ url_for('index') }}">Home</a><br />
    <form action="{{ url_for('generate_video3') }}" method="POST" enctype="multipart/form-data">
      <label for="file">File:</label>
      <input type="file" id="file" name="file" webkitdirectory mozdirectory>
      <button type="submit">Generate Video</button>
    </form>
    {% if error_message %}
    <p>Error: {{ error_message }}</p>
    {% endif %}
    {% if video_url %}
    <p>Video path: {{ video_path }}</p>
    <video width="512" height="768" controls>
      <source src="{{ video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {% endif %}
  </body>
</html>
