<!DOCTYPE html>
<html>
<head>
    <title>Generate Video</title>
</head>
<body>
    <h1>Generate Video</h1>
    <form method="POST" enctype="multipart/form-data" action="/generate_vid">
        <label for="audio">Upload Audio:</label>
        <input type="file" id="audio" name="audio" accept=".wav" directory="sample_data">
        <br>
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept=".jpg,.jpeg,.png" directory="static/images/uploads">
        <br>
        <input type="submit" value="Generate">
    </form>
</body>
</html>
