<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <p>Choose an option below:</p>
    <ul>
        <li><a href="{{ url_for('select_by_id_form') }}">Select by ID Form</a></li>
        <li><a href="{{ url_for('search_by_rowid') }}">Search by Row ID</a></li>
        <li><a href="{{ url_for('search_database') }}">Search the Database</a></li>
        <li><a href="{{ url_for('edit_data_page') }}">Edit Data</a></li>
        <li><a href="{{ url_for('insert_data') }}">Insert Data</a></li>
        <li><a href="{{ url_for('get_rowid_form') }}">Enter Row ID to Edit</a></li>
    </ul>
    <a style ="font-size: 24px;color: brown;" href="{{ url_for('index') }}">HOME</a>
</body>
</html>
