<!DOCTYPE html>
<html>
<head>
    <title>Choose a Directory</title>
</head>
<body>
    <h1>Choose a Directory</h1>
    <form method="post">
        <select name="selected_directory">
            {% for directory in directory_list %}
            <option value="{{ directory }}">{{ directory }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Get Image List">
    </form>

      {% if video %}
    <h2>Generated Video:</h2>
    <video controls>
        <source src="{{ video }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% endif %}

</body>
</html>
