<!DOCTYPE html>
<html>
<head>
  <title>Blend Images</title>
</head>
<body>
  <h1>Blend Images</h1>

  <video width="480" height="auto" controls>
    <source src="{{ video }}" type="video/mp4">
    Your browser does not support the video tag.
  </video><br /><br /><br />
  <video width="480" height="auto" controls>
    <source src="static/animate/TEMP5.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video><br />
  <video width="480" height="auto" controls>
    <source src="static/animate/TEMP5.webm" type="video/webp">
    Your browser does not support the video tag.
  </video><br />
  
</html>