<!DOCTYPE html>
<html>
<head>
    <title>Terminal Emulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='xterm/xterm.css') }}">
    <script src="{{ url_for('static', filename='xterm/xterm.js') }}"></script>
</head>
<body>
    <div id="terminal"></div>
    <script>
        const term = new Terminal();
        term.open(document.getElementById('terminal'));

        term.onKey(e => {
    // Capture user input and send it to the server when Enter is pressed
    if (e.domEvent.key === 'Enter') {
        const command = term.buffer.getLine(term.buffer.ybase + term.buffer.y).translateToString();
        fetch('/execute_command', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `command=${encodeURIComponent(command)}`,
        })
            .then(response => response.json())
            .then(data => {
                term.write('\r\n' + data.output + '\r\n$ ');
            });
    } else {
        term.write(e.key); // Write the captured key to the terminal
    }
});

term.write('$ ');


    </script>
</body>
</html>
