<!DOCTYPE html>
<html>
<head>
    <title>Title Page</title>
</head>
<body>
    <h1>Create Title Page</h1>
    <a href="{{ url_for('index') }}">Home</a><br />
    <form method="POST" enctype="multipart/form-data"><br />        
        <label for="text">Text:</label>
        <input type="text" name="text" id="text" required>
        <br>
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" accept="image/*" required>
        <br>
        <input type="submit" value="Create Title Page">
    </form>
{% if filename %}
    <h2>Generated Title Page:</h2>
    <img src="{{ url_for('static', filename=filename) }}" alt="Title Page">
{% endif %}

</body>
</html>
