<!DOCTYPE html>
<html>
<head>
    <title>Create A Title Page</title>
</head>
<style>.atext{
    text-align: center;
    background-color: aquamarine;}
    #wrapper{width:50%;
    margin: auto;
   
  width: 50%;
  border: 3px solid green;
  padding: 10px;
        text-align: center;
    background-color: antiquewhite;}</style>
<body class="atext">
    <div id="wrapper">
    <h1>Create Title Page</h1>
    <h2>Enter Twenty characters max, including spaces:</h2>
    <p>A random image will be chosen and this text placed on it to use as a title page. <br />
       The filename will contain the text on the image.</p>
     <form method="POST" enctype="multipart/form-data">
        <label for="text">Text:</label>
        <input type="text" id="text" name="text" required>
        <br>
        <input type="submit" value="Create">
    </form>
    {% if filename %}
    <img src="{{ url_for('static', filename=filename) }}" alt="Title Page">
    {% endif %}
    </div>
</body>
</html>
